
.outer-box{
    border: 5px solid green;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content:center;
    align-items: center; 
    
}

.inner-div{
    border: 5px solid gray ;
    width: 50px;
    height: 50px;
}

input{
    width: 100px;
    height: 100px;
    font-size: 20px;
    cursor: pointer;
}